@media (max-width: 600px) {
    html {
        overflow-x: hidden;
    }
    nav {
        position: relative;
        width: 100vw;
        height: 50px;
        justify-content: flex-end;
    }
    .burger {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
        width: 2em;
        height: 2em;
    }
    .burger div{
        position: absolute;
        width: 1.5em;
        height: 0.1em;
        background-color: #fff;
        transition: all 0.5s;
    }
    .burger div::before {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 0.1em;
        background-color: #fff;
        top: 0.5em;
    }
    .burger div::after {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 0.1em;
        background-color: #fff;
        bottom: 0.5em;
    }
    .burger .burger-active {
        display: inline-block;
        transform: rotateX(45deg);
        /* opacity: 0; */
    }
    /* .burger .burger-active::before {
        display: inline-block;
    }
    .burger .burger-active::after {
    } */
    .nav-active {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }
    .nav-links, .social-links {
        display: none;
        opacity: 0;
        transform-origin: top center;
        transform: scaleX(0);
        font-size: 1.5em;
    }
    .nav-links-active {
        flex-direction: column;
    }
    .nav-links-active .nav-link {
        margin: 1em;
        width: 70%;
        text-align: center;
    }
    .social-links-active {
        justify-content: center;
        margin-top: 1em;
        width: 70%;
    }
    .social-links-active a {
        margin: 1em;
    }
    .nav-links-active, .social-links-active {
        display: flex;
        transform: scaleX(1);
        opacity: 1;
    }
    .aboutme {
        margin-bottom: 1em;
    }
    .graphs {
        max-width: 95%;
    }
    .graph .text {
        font-size: 0.8em;
    }
    section:nth-child(3) .section {
        width: 100vw;
    }
    .portfolio {
        height: 2.5em;
    }
    #bubbles {
        display: none;
    }
    .portfolio-card {
        margin: 5em 3em;
        min-width: 20em;
        min-height: 13em;
        margin: 2em;
    }
    section:nth-child(4) .section {
        width: 90%;
    }
    .contact div {
        margin: auto;
        width: 20em;
    }
    .contact div form {
        margin: 1em 0;
        padding: 2em;
        font-size: 1em;
    }
    .contact div form p {
        width: 90%;
    }
    .contact div form p .sendbut {
        width: 7.5em;
        height: 3em;
        font-size: 1em;
    }
}