body, html {
    margin: 0;
}
body {
    background-color: #121212;
    color: #f5f5f5;
    overflow-x: hidden;
    font-family: 'ComfortaaMedium';
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header .hello-text {
    background-image: url('../img/hello-text.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 18%;
}
.header .button {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PoiretOne';
    font-size: 1.3em;
    font-weight: 800;
    padding: 12px;
    border: #f5f5f5 2px solid;
    transition: all 0.5s;
}
.header .button:hover {
    background-color: #18D0F5;
    border: #18D0F5 2px solid;
    box-shadow: 0px 0px 20px 5px #18D0F5;
}
.header .button svg {
    transition: all 0.5s;
    margin-left: 5px;
    transform: rotate(-90deg);
}
.header .button:hover svg {
    transform: rotate(0deg);
}

nav {
    display: flex;
    /* position: fixed; */
    top: 0;
    left: 0;
    align-items: center;
    flex-direction: center;
    width: 100%;
    height: 50px;
    background-color: #323232;
    font-family: 'PoiretOne';
    font-size: 1.5em;
    z-index: 999;
}
.nav-link {
    margin: 0 2%;
}
.nav-link:hover {
    color: #F500C2;
}
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #050505;
}
.section {
    width: 80%;
}
.about .cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
}
.about .cards .card .head {
    font-family: 'ComfortaaBold';
    font-size: 2em;
    margin-top: 5%;
}
.about .cards .card .des {
    font-family: 'ComfortaaSemiBold';
    color: #555555;
    text-align: center;
    font-size: 1.2em;
    margin: 0%;
}


@font-face {
    font-family: "ComfortaaBold"; 
    src: url("../font/Comfortaa/Comfortaa-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaLight"; 
    src: url("../font/Comfortaa/Comfortaa-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaMedium"; 
    src: url("../font/Comfortaa/Comfortaa-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaRegular"; 
    src: url("../font/Comfortaa/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaSemiBold"; 
    src: url("../font/Comfortaa/Comfortaa-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "PoiretOne"; 
    src: url("../font/Poiret_One/PoiretOne-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}