html {
    --bg-col: #121212;
    --col1: #FFF821;
    --col2: #18D0F5;
    --col3: #F52CC3;
    --col4: #F5C218;
    --col5: #21FFA9;
    --l-bg: #121212;
    --l-text: #dbdbdb;
    --l-des: #bdbdbd;
    scroll-behavior: smooth;
}
body, html {
    margin: 0;
}
body {
    background-color: var(--bg-col);
    color: #f5f5f5;
    overflow-x: hidden;
    font-family: 'ComfortaaMedium';
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header .hello-text {
    background-image: url('../img/hello-text.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 18%;
}
.header .button {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PoiretOne';
    font-size: 1.3em;
    font-weight: 600;
    padding: 12px;
    backdrop-filter: blur(1px);
    border: #f5f5f5 2px solid;
    transition: all 0.5s cubic-bezier(.89,.01,1,1.85);
}
.header .button:hover {
    backdrop-filter: blur(1px);
    background-color: #18D0F580;
    border: #0000 2px solid;
    box-shadow: 0px 0px 20px 5px #18D0F580;
}
.header .button svg {
    transition: all 0.5s cubic-bezier(0,1.01,1,.01);
    margin-left: 5px;
    transform: rotate(-90deg);
}
.header .button:hover svg {
    transform: rotate(0deg);
}

nav {
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: center;
    width: 100%;
    height: 50px;
    background-color: #323232;
    font-family: 'PoiretOne';
    font-size: 1.5em;
    z-index: 999;
}
.nav-links {
    display: flex;
    align-items: center;
    flex-direction: center;
    width: 50%;
}
.social-links {
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: flex-end;
    width: 50%;
}
.social-links a {
    margin-right: .5em;
}
.social-links a svg {
    width: 1em;
    height: 1em;
}
.nav-link {
    margin: 0 2%;
}
.nav-link:hover {
    color: #F500C2;
}
section:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--l-bg);
    color: var(--l-text);
}
section:nth-child(2) .section {
    width: 100%;
}

.about {
    background-image: url('../img/bgcircle.png'), url('../img/bgcircle.png');
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: -3em 30%, 100% 90%;
}
.about .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% 4%;
}
.about .cards .card .head {
    font-family: 'ComfortaaBold';
    font-size: 2em;
    margin-top: 5%;
}
.about .cards .card .des {
    font-family: 'ComfortaaSemiBold';
    color: var(--l-des);
    text-align: center;
    font-size: 1.2em;
    margin: 0%;
}
.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10em;
}
.me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 50%;
}
.me .photo {
    position: relative;
    box-sizing: border-box;
    min-height: 30em;
    min-width: 20em;
    z-index: 5;
}
.me .photo div:nth-child(1) {
    box-sizing: border-box;
    position: absolute;
    min-height: 30em;
    min-width: 20em;
    top: 0px;
    left: 0px;
    border: var(--col4) .2em solid;
    z-index: 6;
    transition: all 0.5s;
}
.me .photo div:nth-child(2) {
    position: absolute;
    background-image: url('../img/-2147483648_-211166.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 30em;
    min-width: 20em;
    z-index: 7;
}
.me .photo div:nth-child(3) {
    box-sizing: border-box;
    position: absolute;
    height: 30em;
    width: 20em;
    top: 0px;
    left: 0px;
    border: var(--col5) .3em dotted;
    z-index: 8;
    transition: all 0.5s;
}
.me .text {
    margin-top: 1em;
    max-width: 20em;
}
.graphs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 50%;
    height: auto;
}
.graph {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.graph .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 7em;
    /* margin-right: 1em; */
}
.graph .range {
    display: flex;
    align-items: center;
    width: 20em;
    height: 3em;
}
.graph .range div {
    height: 50%;
}
.graph:nth-child(2n-1) .range div {
    background-color: var(--col4);
}
.graph:nth-child(2n) .range div {
    background-color: var(--col5);
}
.graph:nth-child(1) .range div {
    width: 0%;
    transition: all 1s cubic-bezier(.45,.42,.06,1.55);
}
.graph:nth-child(2) .range div {
    width: 0%;
    transition: all 1.3s cubic-bezier(.45,.42,.06,1.55);
}
.graph:nth-child(3) .range div {
    width: 0%;
    transition: all 1.6s cubic-bezier(.45,.42,.06,1.55);
}
.graph:nth-child(4) .range div {
    width: 0%;
    transition: all 1.9s cubic-bezier(.45,.42,.06,1.55);
}
.graph:nth-child(5) .range div {
    width: 0%;
    transition: all 2.1s cubic-bezier(.45,.42,.06,1.55);
}

section:nth-child(3) {
    background-color: var(--col5);
    color: var(--l-bg);
    border-radius: 0 0 5em 5em;
}
section:nth-child(3) .section {
    width: 100%;
}
.portfolio {
    position: relative;
    color: var(--col5);
    font-size: 3em;
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: center;
    background-color: var(--l-bg);
    transition: all 1s;
}
.portfolio p {
    position: absolute;
    text-align: center;
    display: block;
    width: 8em;
    position: relative;
    font-weight: 500;
    color: var(--col5);
}
.portfolio p::before {
    position: absolute;
    content: '';
    height: 0.07em;
    top: -0.5em;
    left: 0;
    width: 100%;
    background-color: var(--col5);
}
/* .portfolio p::after {
    position: absolute;
    content: '';
    height: 0.1em;
    top: -1.1em;
    right: 10em;
    width: 3em;
    background-color: var(--col5); */
}
.portfolio div {
    position: absolute;
    top:0px; left:0px;
    width:100vw;
    height:5em;
}
#bubbles {
    position:absolute; 
    bottom:0px; left:0px;
    width: 100%;
    height: 100%;
}
.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    perspective: 100em;
}
.portfolio-card {
    position: relative;
    text-decoration: none;
    color: var(--l-text);
    background-color: var(--col1);
    background-image: url('../img/TheWithcer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1em;
    margin: 5em 3em;
    min-width: 25em;
    min-height: 15em;
    box-shadow: 0px 1px 43px 11px rgba(34, 60, 80, 0.7);
    transition: all 0.5s;
}
.portfolio-card div {
    position: absolute;
    bottom: -2em;
    left: 1em;
    opacity: 0;
    transition: all 0.5s;
}
.portfolio-card:hover div {
    bottom: 1em;
    opacity: 1;
}
.portfolio-card:hover {
    transform: rotateX(20deg);
}

section:nth-child(4) {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--l-bg);
    color: var(--l-text);
}
section:nth-child(4) .section {
    width: 80%;
}
.contact div {
    margin: auto;
    width: 30em;
}
.contact div form {
    margin: 7em 0;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--col2);
    color: var(--l-bg);
    border-radius: 5em;
    font-size: 1.2em;
}
.contact div form p {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.contact div form p label {
    margin-bottom: 0.3em;
    border-radius:0.5em;
    background-color: #fff;
    padding: 0.3em;
}
.contact div form p input[type=text], .contact div form p textarea {
    padding: 10px;
    font-size: 0.9em;
    border: 0;
    border-bottom: 0.1em solid var(--col3);
    border-top: 0.1em solid #00000000;
    border-left: 0.1em solid #00000000;
    border-right: 0.1em solid #00000000;
    border-radius:0.5em;
    box-sizing: border-box;
}
.contact div form p input:focus {
    border: 0;
    border: 0.1em solid var(--col3);
}
.contact div form p textarea {
    resize: vertical;
}
.contact div form p button {
    position: relative;
    width: 7em;
    height: 3em;
    border-radius:0.5em;
    border: 0;
    font-size: 1.2em;
    font-family: 'ComfortaaMedium';
    display: flex;
    align-items: center;
    justify-content: center;
}
.sendbutp, .sendbutsvg {
    transition: all 0.3s;
    position: absolute;
}
.sendbutp {
    top: 0em;
    opacity: 1;
}
.sendbutsvg {
    top: 3em;
    opacity: 0;
}
.sendbut:hover .sendbutp {
    top: -3em;
    opacity: 0;
}
.sendbut:hover .sendbutsvg {
    top: 0.5em;
    opacity: 1;
}
*:focus {outline:none !important;}

footer {
    width: 100vw;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div p {
    margin: 1em;
}

@font-face {
    font-family: "ComfortaaBold"; 
    src: url("../font/Comfortaa/Comfortaa-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaLight"; 
    src: url("../font/Comfortaa/Comfortaa-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaMedium"; 
    src: url("../font/Comfortaa/Comfortaa-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaRegular"; 
    src: url("../font/Comfortaa/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ComfortaaSemiBold"; 
    src: url("../font/Comfortaa/Comfortaa-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "PoiretOne"; 
    src: url("../font/Poiret_One/PoiretOne-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}